html {
    background-color: bisque;
}

.grid {
    width: 612px;
    height: 612px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 200px;
    width: 200px;
    border: 2px solid black; 
}

.mole {
    background-image: url('../img/mole.png');
    background-size: cover;
}

#top {
    text-align: center;
}

h1 {
    margin: 5px;
}

h2 {
    margin: 5px;
}

#main-grid {
    display: flex;
    justify-content: center;
}

#time-left {
    font-size: 50px;
    font-weight: bolder;
}