.grid {
    width: 612px;
    height: 612px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 200px;
    width: 200px;
    border: 2px solid black; 
}

.mole {
    background-color: blue;
}